################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.user
Dev14/Src/CSharp/bin/
Dev14/Src/CSharp/obj/
packages/
Src/bin/
Src/obj/
.vs/
